.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.env
*.conf
build.properties
run
TODO.md

### IntelliJ IDEA ###
.idea/
*.iwss
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/